<!--Use in Thesis->ThesesFromDeaprtment, Professor->Index-->
@model IEnumerable<SearchSystem.Entities.Thesis>

<table class="table">
    <tr>
        <th class="label-info">Заглавие</th>
        <th class="label-info">Описание</th>
        <th class="label-info th-small-info">Преподавател</th>
        <th class="label-info th-small-info">Заетост</th>
        <th class="label-info th-small-info">Тип</th>
        <th class="label-info th-small-info">Сложност</th>
        <th class="label-info th-small-info">Описание</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:justify;">
                @Html.DisplayFor(modelItem => item.ThesisTitle)
            </td>
            <td style="text-align:justify;"
                id="description-@item.ThesisId">
                @(item.ThesisDescription.Length > 250 ? item.ThesisDescription.Substring(0, 250) + "..." : item.ThesisDescription)
                @Ajax.ActionLink("Виж пълно описание", "GetThesisDescription", "Professor",
                                        new { thesisId = item.ThesisId },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "description-" + item.ThesisId
                                        })
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Professor.FirstName) 
                @Html.DisplayFor(modelItem => item.Professor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.ActionLink("Към темата", "Index", "Thesis", new { currentId = item.ThesisId, type = "Current" }, null)
            </td>
        </tr>
    }
</table>